In [1]:
# Int,float, Complex = Numerical
# Int
a = 5678
print(a,type(a))

5678 <class 'int'>

In [2]:
# Float
a = 4567.8765
print(a,type(a))

4567.8765 <class 'float'>

In [3]:
# Complex
a = 456 + 8j
print(a,type(a))

(456+8j) <class 'complex'>

In [4]:
# Str, double, triple
a = 'Hello Python'
print(a,type(a))

Hello Python <class 'str'>

In [5]:
poem = '''Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are



Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are'''


print(poem)

Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are



Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are

In [6]:
# tuple
a = (2,3434,5,5467)
print(a,type(a))

(2, 3434, 5, 5467) <class 'tuple'>

In [7]:
# tuple
a = (2,)
print(a,type(a))

(2,) <class 'tuple'>

In [8]:
a = (3,544,5,346,567)

print(a[3])

346

In [9]:
a = list(a)
a[3] = 900
a = tuple(a)
print(a)

(3, 544, 5, 900, 567)

In [10]:
std_id = [1,1,2,2,2,2,23,3,3,3,4,4,45]

print(std_id)

[1, 1, 2, 2, 2, 2, 23, 3, 3, 3, 4, 4, 45]

In [11]:
std_id = list(set(std_id))
print(std_id)

[1, 2, 3, 4, 45, 23]

In [12]:
# dict:- key value pair datatype, # hash

a = {'Name':'Anjali','Age':20,'Address':'Delhi'}
print(a,type(a))

{'Name': 'Anjali', 'Age': 20, 'Address': 'Delhi'} <class 'dict'>

In [13]:
data = {'Region':['West','East','North','South'],
        'Sales':[345,546,453,456],
        'Profit':[120,200,90,78]}

print(data)

{'Region': ['West', 'East', 'North', 'South'], 'Sales': [345, 546, 453, 456], 'Profit': [120, 200, 90, 78]}

In [14]:
import pandas as pd

table = pd.DataFrame(data)
table

  Region  Sales  Profit
0   West    345     120
1   East    546     200
2  North    453      90
3  South    456      78

In [15]:
# salary = 56789

# >= 50: manager
# >= 30: Jr manager
# >= 20: Executive
# Intern

In [16]:
salary = 27800
if salary >= 50000:
  print('Manager')
elif salary >= 30000:
  print('Jr Manager')
elif salary >= 20000:
  print('Executive')
else:
  print('Intern')

Executive

In [17]:
import numpy as np
database_salary = np.random.randint(10000,60000,5)
print(salary)

27800

In [18]:
for i in database_salary:
  salary = i
  if salary >= 50000:
    print(i, 'Manager')
  elif salary >= 30000:
    print(i, 'Jr Manager')
  elif salary >= 20000:
    print(i, 'Executive')
  else:
    print(i, 'Intern')

36217 Jr Manager
22233 Executive
50785 Manager
46169 Jr Manager
12410 Intern

In [19]:
# import random
# comp_choice = random.randint(1,10)
# user_choice = int(input('Enter your Choice(1-10): '))

# print(f'''
# User choice: {user_choice}
# Computer Choice: {comp_choice}''')

# if user_choice == comp_choice:
#   print('User Won, Comp Lose!!')
# else:
#   print('Better Luck next time!!')

In [20]:
user_attempts = 3
import random
for i in range(user_attempts):
  comp_choice = random.randint(1,10)
  user_choice = int(input('Enter your Choice(1-10): '))

  print(f'''
  User choice: {user_choice}
  Computer Choice: {comp_choice}''')

  if user_choice == comp_choice:
    print('User Won, Comp Lose!!')
  else:
    print('Better Luck next time!!')

Enter your Choice(1-10):  1

  User choice: 1
  Computer Choice: 1
User Won, Comp Lose!!

Enter your Choice(1-10):  4

  User choice: 4
  Computer Choice: 7
Better Luck next time!!

Enter your Choice(1-10):  2

  User choice: 2
  Computer Choice: 9
Better Luck next time!!

In [21]:
# Questions[1]

In [22]:
Questions = {1:'What is the capital of Australia?',
             2:'Who invented the telephone?',
             3:'Which planet is known as the Red Planet?',
             4:'In which year did India gain independence?',
             5:'What is the largest organ in the human body?'}

options = {1:'''A) Sydney
B) Melbourne
C) Canberra
D) Perth''',
           2:'''A) Albert Einstein
B) Isaac Newton
C) Alexander Graham Bell
D) Thomas Edison''',
           3:'''A) Earth
B) Venus
C) Jupiter
D) Mars''',
           4:'''A) 1945
B) 1946
C) 1947
D) 1950''',
           5:'''A) Liver
B) Brain
C) Skin
D) Heart'''}

win_ammount = 0

correct_op = ['C','C','D','C','C']

for i in range(1,len(Questions)+1):
  print(f'Question {i}: ',Questions[i])
  print(options[i])
  user_choice = input('Enter your choice: ').upper()

  correct_ans = correct_op[i-1]
  # print(correct_ans)
  if user_choice == correct_ans:
    win_ammount += 10000
    print('Correct Answer!!')
    print(end = '\n'*3)

  else:
    print('Better luck next time!!')
    break


print('Total Amount',win_ammount)

Question 1:  What is the capital of Australia?
A) Sydney
B) Melbourne
C) Canberra
D) Perth

Enter your choice:  d

Better luck next time!!
Total Amount 0

In [23]:
def say_hello(name):
  print(f'Hello {name},','how are you??')

In [24]:
say_hello('anjali')

Hello anjali, how are you??

In [25]:
# pip install gTTS

Requirement already satisfied: gTTS in c:\users\anjali\anaconda3\lib\site-packages (2.5.4)
Requirement already satisfied: requests<3,>=2.27 in c:\users\anjali\anaconda3\lib\site-packages (from gTTS) (2.32.3)
Requirement already satisfied: click<8.2,>=7.1 in c:\users\anjali\anaconda3\lib\site-packages (from gTTS) (8.1.8)
Requirement already satisfied: colorama in c:\users\anjali\anaconda3\lib\site-packages (from click<8.2,>=7.1->gTTS) (0.4.6)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\anjali\anaconda3\lib\site-packages (from requests<3,>=2.27->gTTS) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\anjali\anaconda3\lib\site-packages (from requests<3,>=2.27->gTTS) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\anjali\anaconda3\lib\site-packages (from requests<3,>=2.27->gTTS) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\anjali\anaconda3\lib\site-packages (from requests<3,>=2.27->gTTS) (2025.6.15)
Note: you may need to restart the kernel to use updated packages.

In [27]:
def sound_box(paisa,platform = 'Paytm'):
    from gtts import gTTS
    text  = f'''{platform} par {paisa} rs Prapt hue.'''
    audio = gTTS(text)
    audio.save('paytm.mp3')

    import pygame as p
    p.init()

    music = p.mixer.Sound('paytm.mp3')
    music.play()

In [29]:
sound_box(500,platform = 'Paytm')

pygame 2.6.1 (SDL 2.28.4, Python 3.13.5)
Hello from the pygame community. https://www.pygame.org/contribute.html