In [ ]:
# Int,float, Complex = Numerical
# Int
a = 5678
print(a,type(a))

In [ ]:
# Float
a = 4567.8765
print(a,type(a))

In [ ]:
# Complex
a = 456 + 8j
print(a,type(a))

In [ ]:
# Str, double, triple
a = 'Hello Python'
print(a,type(a))

In [ ]:
poem = '''Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are



Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are'''


print(poem)

In [ ]:
# tuple
a = (2,3434,5,5467)
print(a,type(a))

In [ ]:
# tuple
a = (2,)
print(a,type(a))