In [7]:
#excepetion handling 
age='20'
try:
    #print(1/0)
    if age>=18:
        print('can vote')
    else:
        print('can\'t vote')
except TypeError:
    print('something went wrong ')
    print('Invalid datatype comparison ')
except:
    print('invalid code')

something went wrong
Invalid datatype comparsion

In [8]:
def students_records(**kwargs): #** convert the args into dict
    # print(kwargs)
    # try exception
    import pandas as pd
    try:
        result = pd.DataFrame(kwargs)
        return result
    except:
        result = pd.DataFrame(kwargs,index = [1])
        return result

In [15]:
students_records(Name = ['Anjali','Roshni','Prachi'],
                Age = [19,21,20],
                Sec=list('ABC'),
                Address = ['Noida','Delhi',' Greater Noida'])

     Name  Age Sec         Address
0  Anjali   19   A           Noida
1  Roshni   21   B           Delhi
2  Prachi   20   C   Greater Noida

In [30]:
def show_time():
    try:
        while True:
            import time
            print(time.asctime())
            time.sleep(1)
            display(clear = True)
    except:
        print('the code is stopped!!!!!!!!!')

In [31]:
show_time()

Fri Jul  4 10:40:16 2025
the code is stopped!!!!!!!!!

In [45]:
import Anjali as a
print('done')

done

In [51]:
import Anjali as a
print(a.factorial(5))
print(a.print_star(n=6, typ= 'mid'))

120
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *
None

In [52]:
a.give_fibo(5)

[0, 1, 1, 2, 3]

In [53]:
a.check_palindrome('naman')

'palindrome'

In [54]:
a.check_prime(57)

'prime number'

In [55]:
a.maxx(45,46,76,78,53,34)

78

In [57]:
a.sum_of_n_natural_numbers(7)

28

In [59]:
a.sound_box(200)

pygame 2.6.1 (SDL 2.28.4, Python 3.13.5)
Hello from the pygame community. https://www.pygame.org/contribute.html

In [63]:
from Anjali import students_records
print('done ')

done

In [65]:
students_records(name='Anjali', age=20)

     name  age
1  Anjali   20

In [66]:
from Anjali import *
print(' done ')

 done

In [68]:
factorial(5)

120

In [69]:
import turtle 
print('done')

done

In [40]:
import turtle
for i in range(120):
    turtle.speed(0)
    turtle.bgcolor('black')
    col=['red','orange','blue','green','yellow']
    import random
    picked_color=random.choice(col)
    turtle.color(picked_color)
    turtle.circle(100)
    turtle.left(3)

In [1]:
import turtle
for i in range(6):
    turtle.bgcolor('black')
    turtle.color('cyan')
    turtle.forward(150)
    turtle.left(60)

In [1]:
#file handling 
#types of files:
# 1. text file: any file which can be run in notepad and can be understood properly
# .py, .html, .csv, .tsv, .css, .java, .c , .c++, .json, .js




# 2. binary file: (to run this we need software)
# .xlsx, .ppt, .doc, .pdf, .mp3, .mp4, .png, .jpeg, .zip, .exe, .dat, .tar

In [ ]:
#handling: read, write, copy, append, delete, open, close

In [2]:
#context manager

In [9]:
file = open('Anjali.py', mode='r')
print(file.read(70))
file.close()

print('''This is Anjali's Module in Python
Info: http://www.google.com

In [13]:
f = open('Anjali.py', mode='r')

In [14]:
print(f.readline())

print('''This is Anjali's Module in Python

In [15]:
print(f.readline())

Info: http://www.google.com/''')

In [16]:
print(f.readline())

In [17]:
print(f.readline())

In [18]:
print(f.readline())

def check_palindrome(word:str):

In [19]:
print(f.readline())

    if type(word)==str:

In [20]:
print(f.readline())

        word=word.upper()

In [21]:
print(f.readline())

        if word==word[::-1]:

In [22]:
print(f.readline())

            return 'palindrome'

In [23]:
f.close()
print('done')

done

In [25]:
f = open('Anjali.py', mode='r')
for i in range(10):
    print(f.readline())

print('''This is Anjali's Module in Python

Info: http://www.google.com/''')





def check_palindrome(word:str):

    if type(word)==str:

        word=word.upper()

        if word==word[::-1]:

            return 'palindrome'

        else:

In [27]:
f = open('Anjali.py', mode='r')
for i in range(10):
    if i==4:
        print(f.readline())
    else:
        f.readline()

def check_palindrome(word:str):

In [35]:
f = open('Anjali.py', mode='r')
data = f.readlines()
    
    
f.close()
print('done')

done

In [38]:
print(data[4:20])

['def check_palindrome(word:str):\n', '    if type(word)==str:\n', '        word=word.upper()\n', '        if word==word[::-1]:\n', "            return 'palindrome'\n", '        else:\n', "            return 'not a palindrome'\n", '    else:\n', "        return ' invalid data'\n", '\n', '\n', 'def give_fibo(n):\n', '    fibo=[0,1]\n', '    for i in range(n-2):\n', '        last_num=fibo[-1]\n', '        second_num=fibo[-2]\n']

In [39]:
for i in data[10:31]:
    print(i)

            return 'not a palindrome'

    else:

        return ' invalid data'





def give_fibo(n):

    fibo=[0,1]

    for i in range(n-2):

        last_num=fibo[-1]

        second_num=fibo[-2]

        next_num=last_num+second_num

        fibo.append(next_num)

    return fibo





def check_prime(number):

    for i in range(2,number):

        if number%i==0:

            return 'not a prime number'

            break

            print('happy holi')