In [ ]:
def check_palindrome(word):
    return word
    

check_palindrome('ajay')

In [4]:
a='anana'
a[::-1]

'anana'

In [6]:
if a== a[::-1]:
   print(f'{a} is a palindrome')
else:
   print(f'{a} is not a palindrome')

anana is a palindrome

In [10]:
def check_palindrome(word):
    word=word.lower()
    if word==word[::-1]:
       print('palindrome')
    else:
       print('not palindrome')

In [11]:
check_palindrome('anjali')

not palindrome

In [13]:
def check_palindrome(word:str):
    if type(word)==str:
        word=word.upper()
        if word==word[::-1]:
            return 'palindrome'
        else:
            return 'not a palindrome'
    else:
        return ' invalid data'

In [14]:
check_palindrome('naman')

'palindrome'

In [15]:
def give_fibo(n):
    fibo=[0,1]
    for i in range(n-2):
        last_num=fibo[-1]
        second_num=fibo[-2]
        next_num=last_num+second_num
        fibo.append(next_num)
    return fibo

In [16]:
give_fibo(6)

[0, 1, 1, 2, 3, 5]

In [17]:
give_fibo(15)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [18]:
def check_prime(number):
    for i in range(2,number):
        if number%i==0:
            return 'not a prime number'
            break
            print('happy holi')
        else:
            return 'prime number'

In [19]:
check_prime(47)

'prime number'

In [37]:
a=5
for i in range(1,a+1):
    print(i* '*')

*
**
***
****
*****

In [42]:
a=5
for i in range(1,a+1):
    print(' '*(a-i) +i*'*')

    *
   **
  ***
 ****
*****

In [43]:
a=5
for i in range(1,a+1):
    print(' '*(a-i) +i*' *')

     *
    * *
   * * *
  * * * *
 * * * * *

In [44]:
def print_star(n=5, typ = 'left'):
    for i in range(1,n+1):
        print(' '*(n-i) + i*'* ')

In [45]:
print_star(6)

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [33]:
def print_star(n=5, typ= 'left' ,shape='*'):
    if typ=='left':
        space=''
    elif typ=='right':
        space='  '
    elif typ=='mid':
        space=' '
    for i in range(1,n+1):
        print(space*(n-i)+i*'* ',)

In [35]:
print_star(6,'mid', '&')

     &
    & &
   & & &
  & & & &
 & & & & &
& & & & & &

In [4]:
print_star(6,'right')

          *
        * *
      * * *
    * * * *
  * * * * *
* * * * * *

In [5]:
def sum_of_n_natural_numbers(n):
    result = 0
    for i in range(1,n+1):
        result += i
    return result

In [6]:
sum_of_n_natural_numbers(5)

15

In [7]:
def factorial(n):
    result = 1
    for i in range(1,n+1):
        result *= i
return result

In [9]:
factorial(5)

120

In [10]:
def total_sales(*args): #* converts args into tuple
  #unpacking
  result = 0
  for i in args:
    result += i
  return result

In [12]:
total_sales(23,649,4,449,9494,111)

10730

In [ ]:
sales = [45678,63,456,347,3245]

# min(sales)

In [15]:
sales = [45678,63,456,2,0]
min_element = sales[0]

for i in sales[1:]:
  if i < min_element:
    min_element = i
print(min_element)

0

In [16]:
def minn(*data):
  min_ele = data[0]
  for i in data[1:]:
    if i< min_ele:
      min_ele = i
  return min_ele

In [17]:
minn(376,246,354,8,667,468)

8

In [18]:
#max(sales)
def maxx(*data):
  max_ele = data[0]
  for i in data[1:]:
    if i> max_ele:
      max_ele = i
  return max_ele

In [19]:
maxx(376,246,354,8,667,468)

667

In [20]:
company = ['ola','uber','rapido','indrive','adani','tata']

# ['#OLA','#UBER','#RAPIDO']



def add_hashtag(*company):
  result = []
  for i in company:
    result.append('#'+i.upper())
  return result

In [21]:
add_hashtag(*company)

['#OLA', '#UBER', '#RAPIDO', '#INDRIVE', '#ADANI', '#TATA']

In [22]:
def store_records(name,age,sec,roll_no,Class):
  data = {'Name':name,'Age':age,'Sec':sec,'Roll_NO':roll_no,'Class':Class}
  import pandas as pd
  result = pd.DataFrame(data,index = [0])
  return result

In [23]:
store_records('Mohan',21,'A',12,12)
store_records('Karan',21,'A',12,12)
store_records('Naman',21,'A',12,12)

    Name  Age Sec  Roll_NO  Class
0  Naman   21   A       12     12

In [24]:
def students_records(**kwargs):
    # print(kwargs)
    # try exception
    import pandas as pd
    try:
        result = pd.DataFrame(kwargs)
        return result
    except:
        result = pd.DataFrame(kwargs,index = [1])
        return result

In [25]:
students_records(Name = ['Komal','Mohan','Ajay'],
                 Age = [23,45,56],
                 Roll_No = [23,32,67],
                 Address = ['Noida','Delhi','Greater Noida'])

    Name  Age  Roll_No        Address
0  Komal   23       23          Noida
1  Mohan   45       32          Delhi
2   Ajay   56       67  Greater Noida