# TEST

In [7]:
#SectionsA

# A1

In [3]:

# list is a hetrogenous data type in which same type of data is stored
# list can be appended with some methods 
# tuple is a homogenous data type in which different types of data is stored

In [4]:
a=[1,'anjali',2,3,4]
a # a is a list

[1, 'anjali', 2, 3, 4]

In [6]:
b=(10,20,30,'anjali')
b

(10, 20, 30, 'anjali')

# A2

In [8]:
# input(): funtions is used to take input from the user. Its is a built-in funtion provided by python
# It returns string data type
# To change it into int data type we use the syntax:
# int(input('enter your id'))
# it will return int data type

# A3

In [9]:
# Dictonaries are used to store data in the format of key and value

In [10]:
data={'name':['abc','bds','gbf'],
      'id':[20,30,40]}
data

{'name': ['abc', 'bds', 'gbf'], 'id': [20, 30, 40]}

# A4

In [12]:
# for loop : it is used to print data in an iterative mode
# It is also used for code reusability

In [18]:
for i in range(6):
    print(i)

0
1
2
3
4
5

# A5

In [19]:
# Exception handling: to handle errors in the code 
# try: 
# except: if the code throws an error the code jumps to the except block to check the next step 
# finally:

# A6

In [21]:
# Modules: collections of functions and instances

In [22]:
# import math: it means we are importing all the functions that are in the module 
# from math import sqrt: it means we are specifically importing the function 'sqrt' from the module math

# A7

In [ ]:
# OOPs: programming done on the basis of class and objects
# creating containers like class and performing funtions and methods in them
# class: blueprint or a structure of an object
#object: an instance

In [28]:
class Car: # creation of class
    def colour(): #creating method 
        print('the colour is yellow')

audi=Car() #object creation

# A8

# A9

In [32]:
def Calculate_area():
    radius=int(input('enter the radius'))
    pi=3.14
    area=pi*(radius*radius)
    return area

Calculate_area()

enter the radius 5

78.5

# A10

In [33]:
name=input('enter your name')
age=int(input('enter your age'))
def intro():
    print(f'Hello {name}, you are {age} years old!!')

intro()

enter your name anjali
enter your age 19

Hello anjali, you are 19 years old!!

# A11

In [39]:
list=['mango','banana','apple','grapes','kiwi']

for i in enumerate(list,0):
    print(i)

(0, 'mango')
(1, 'banana')
(2, 'apple')
(3, 'grapes')
(4, 'kiwi')

# A12

In [74]:
def grade_calculator():
    std_score=int(input('enter your marks(0-100)'))
    if 90<=std_score>=100:
        print('A')
    elif 80<=std_score>=89:
        print('B')
    elif 70<=std_score>=79:
        print('C')
    elif 60<=std_score>=69:
        print('D')
    else:
        print('Fail')

grade_calculator()

enter your marks(0-100) 78

D

In [75]:
grade_calculator()

enter your marks(0-100) 89

B

In [76]:
grade_calculator()

enter your marks(0-100) 43

Fail

# A13

# A14

In [62]:
class BankAcct:
    def __init__(self):
        Acct_holder='ABC'
        starting_balance=5000
    def deposit_money(self):
        print('Money deposited')
    def withdraw_money(self):
        starting_balance=5000
        withdraw_money=int(input('money to be withdrawn'))
        if starting_balance>=withdraw_money:
            print('can withrow money')
        else:
            print( 'cannot withdraw money')
    def current_balance(self):
        print(f'current balance is {starting_balance}')

axis=BankAcct()

In [63]:
axis.withdraw_money()

money to be withdrawn 6000

cannot withdraw money

# A15

In [70]:
def Prime_number():
    for i in range(61):
        if i%2==0:
            print(i,'it is not a prime number')
        else:
            print(i,'it is a prime number')
    
Prime_number()

0 it is not a prime number
1 it is a prime number
2 it is not a prime number
3 it is a prime number
4 it is not a prime number
5 it is a prime number
6 it is not a prime number
7 it is a prime number
8 it is not a prime number
9 it is a prime number
10 it is not a prime number
11 it is a prime number
12 it is not a prime number
13 it is a prime number
14 it is not a prime number
15 it is a prime number
16 it is not a prime number
17 it is a prime number
18 it is not a prime number
19 it is a prime number
20 it is not a prime number
21 it is a prime number
22 it is not a prime number
23 it is a prime number
24 it is not a prime number
25 it is a prime number
26 it is not a prime number
27 it is a prime number
28 it is not a prime number
29 it is a prime number
30 it is not a prime number
31 it is a prime number
32 it is not a prime number
33 it is a prime number
34 it is not a prime number
35 it is a prime number
36 it is not a prime number
37 it is a prime number
38 it is not a prime number
39 it is a prime number
40 it is not a prime number
41 it is a prime number
42 it is not a prime number
43 it is a prime number
44 it is not a prime number
45 it is a prime number
46 it is not a prime number
47 it is a prime number
48 it is not a prime number
49 it is a prime number
50 it is not a prime number
51 it is a prime number
52 it is not a prime number
53 it is a prime number
54 it is not a prime number
55 it is a prime number
56 it is not a prime number
57 it is a prime number
58 it is not a prime number
59 it is a prime number
60 it is not a prime number